<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>New title - Book</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1>New Book</h1>
		<form th:action="@{/books}" th:method="post" th:object="${book}">
			<!-- エラー用のCSS -->
			<div class="form-group"
				th:classappend="${#fields.hasErrors('title')}?'has-error'">
				<label class="control-label">タイトル</label> 
				<input class="form-control" type="text" name="title" /> <span
					class="text-danger" th:if="${#fields.hasErrors('title')}"
					th:errors="*{title}">error</span>
			</div>
			<!-- エラー用のCSS -->
			<div class="form-group"
				th:classappend="${#fields.hasErrors('person')}?'has-error'">
				<label class="control-label">著者</label> 
				<input class="form-control"	type="text" name="person" /> <span class="text-danger"
					th:if="${#fields.hasErrors('person')}" th:errors="*{person}">error</span>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('page')}?'has-error'">
				<label class="control-label">ページ数</label>
				<input class="form-control" type="number" name="page" /> <span
					class="text-danger" th:if="${#fields.hasErrors('page')}"
					th:errors="*{page}">error</span>
			</div>
			<!-- プルダウン -->
			<div class="form-group"
				th:classappend="${#fields.hasErrors('selectCategory')}?'has-error'">
				<label class="control-label">カテゴリ</label>
				<select class="form-control" id="singleSelect" name="selectCategory">
					<option value="">----</option>
					<option th:each="category : ${selectCategory}"
						th:value="${category.value}" th:text="${category.value}"
						th:selected="${category.value} == *{selectCategory}">singleSelect</option>
				</select> <span class="text-danger"
					th:if="${#fields.hasErrors('selectCategory')}"
					th:errors="*{selectCategory}">error</span>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('register')}?'has-error'">
				<label class="control-label">登録日</label> 
				<input class="form-control" type="date" name="register"/>
				 <span class="text-danger" th:if="${#fields.hasErrors('register')}"
					th:errors="*{register}">error</span>
			</div>
			<button class="btn btn-default" type="submit">作成</button>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" href="/books">一覧画面へ</a>
		</div>
	</div>
</body>
</html>